html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.input-field {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 10000;
    user-select: none;

    input {
        width: 600px;
        height: 30px;

        box-shadow: 0 0 0.3px;
        border-radius: 6px;

        &:focus-visible {
            outline: none;
        }
    }
}
